@import url('http://fonts.googleapis.com/css?family=Erica+One&display=swap');
@import url("/assets/sass-flexbox/main.css");

html {
    padding-left: 24px;
    padding-right: 24px;

}

h1 {
    font-family: 'Erica One', 'sans-serif';
    font-size: 2em;
}

nav {
  ul {
    margin: 0;
    padding: $padding;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: $padding 12px;
    text-decoration: none;
  }
}